{% extends 'shopapp/base.html' %}

{% block title %}
  Product #{{ product.pk }}
{% endblock %}

{% block style %}
    * {          
        color: white;
        background-color: rgb(45, 0, 71);
    }

    .index {
        text-align: center;
    }

    .header-buttons {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .product-buttons {
      margin: 0 100px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .flexed-container {
        max-width: 1000px;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .custom-header > div {
        display: flex;
        justify-content: space-between;
    }

    .button-block {
        margin: 50px auto;
    }

    .button-block > div {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .button-img {
        background-repeat: no-repeat;
        background-position-x: center;
        background-position-y: center;
    }

    .button-back {
      background-image: url('https://img.icons8.com/?size=100&id=98961&format=png&color=000000'); 
    }

    .button-home {
        background-image: url('https://img.icons8.com/?size=100&id=qBlNlefkEJPq&format=png&color=000000'); 
    }

    .button-update {
      background-image: url('https://img.icons8.com/?size=100&id=REaAov7RbGMN&format=png&color=000000'); 
    }

    .button-delete {
      background-image: url('https://img.icons8.com/?size=100&id=8112&format=png&color=000000'); 
    }

    button {
        font-size: 125%;
        border-radius: 25px;
        height: 160px;
        width: 200px;
        background-color: rgb(80, 0, 126);
    }

    button:hover {
        background-color: rgb(0, 94, 94);
        color: red;
    }

    button:focus {
        background-color: rgb(0, 94, 94);
        color: rgb(139, 0, 0);
    }

    .blank-div {
        margin-left: 10%;
    }

    .product-case {
      margin: 10px 0;
      text-align: center;
      font-size: 200%;
    }
{% endblock %}

{% block body %}
<div class="custom-header">
    <div class="flexed-container">
        <div class="blank-div"></div>
        <div class="index">
            <h1>Продукт <strong>{{ product.name }}</strong></h1>
        </div>
        <div class="header-buttons" style="width: 140px;">
            <button style="width: 50px; height: 50px; background-size: 75%;" class="button-img button-back" onclick="window.location.href = 'http://176.124.214.97:8000/shop/products/';" title="Назад."></button>
            <button style="width: 50px; height: 50px; background-size: 75%;" class="button-img button-home" onclick="window.location.href = 'http://176.124.214.97:8000/';"></button>
        </div>
    </div>
</div>
<hr>
<div class="button-block">
  <div class="flexed-container">
    <div class="product-case">Description: {{ product.description }}</div>
    <div class="product-case">Price: {{ product.price }}</div>
    <div class="product-case">Discount: {{ product.discount }}</div>
    <div class="product-case">Archived: {{ product.archived }}</div>
  </div>
  <div class="flexed-container">
      <div class="product-buttons">
        {% if user.username == product.created_by.username and perms.shopapp.change_product %}
            <button style="width: 100px; height: 100px; background-size: 75%;" class="button-img button-update" onclick="window.location.href = 'http://176.124.214.97:8000/shop/products/{{ product.pk }}/update/';" title="Обновить запись."></button>
        {% else %}
            <button style="width: 100px; height: 100px; background-size: 75%;" class="button-img button-update" onclick="alert('Отказано в доступе!')" title="Обновить запись."></button>
        {% endif %}
        <button style="width: 100px; height: 100px; background-size: 75%;" class="button-img button-delete" onclick="window.location.href = 'http://176.124.214.97:8000/shop/products/{{ product.pk }}/archive/';" title="Удалить запись."></button>
      </div>
  </div>
</div>
<hr>
{% endblock %}
